@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print { display:none !important; }
  .print-pg { page-break-inside: avoid; }
  body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}
